
#personalCenterHeadImg > img{
    height: 80px;
    width: auto;
    border-radius: 50%;
}
.personal-center-item > a{
    display: block;
    background: #2F9688;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}
.personal-center-item > a.item-red-bg{
    background: #FF5722;
}
.personal-center-item > a:hover{
    background: rgba(47,150,136,.8);
    cursor: pointer;
}
.personal-center-item > a.item-red-bg:hover{
    background: rgba(255,87,34,.8);
}
.personal-center-item > a > div{
    color: #e5e5e5;
}
.personal-center-item > a > div > i{
    color: #fff;
    font-size: 28px;
}
@media (max-width: 767px) {

}