
#xtl-publish-tips{
    color: #FFB800;
    display: inline-block;
}
#xtl-publish-tips:hover{
    text-decoration: underline;
    cursor: pointer;
}

#uploadImgPreView {
    width: 160px;
    height: 90px;
}

.layui-upload-list {
    position: relative;
}

#removeUploadImgBtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: auto;
    display: none;
}

#removeUploadImgBtn:hover {
    cursor: pointer;
}