<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">


    <!--     国际化消息 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:message</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- FreeMarker模板模板配置 -->
    <bean id="template" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 指定模板文件目录 -->
        <property name="templateLoaderPath" value="classpath:mailTemplate"/>
        <!-- 设置FreeMarker环境属性 -->
        <property name="freemarkerSettings">
            <props>
                <!-- 模板的编码格式 -->
                <prop key="default_encoding">UTF-8</prop>
                <!-- 本地化设置 -->
                <prop key="locale">zh_CN</prop>
            </props>
        </property>
    </bean>

</beans>