<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 定时任务要执行的方法 -->
    <bean id="emailSendJob" class="com.personalWebsite.job.EmailSendJob"/>

    <!--用于定时任务的执行 -->
    <task:scheduled-tasks>
        <!-- 指定要运行的类的方法，每5秒执行一次 -->
        <task:scheduled ref="emailSendJob" method="execute" cron=" 0/5 * * * * ?"/>
    </task:scheduled-tasks>


</beans>