<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">


    <!--     国际化消息 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:message</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 邮件FreeMarker模板模板配置 -->
    <bean id="mailTemplate" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 指定模板文件目录 -->
        <property name="templateLoaderPath" value="classpath:mailTemplate"/>
        <!-- 设置FreeMarker环境属性 -->
        <property name="freemarkerSettings">
            <props>
                <!-- 模板的编码格式 -->
                <prop key="default_encoding">UTF-8</prop>
                <!-- 本地化设置 -->
                <prop key="locale">zh_CN</prop>
            </props>
        </property>
    </bean>

    <!-- 邮箱配置 -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.qq.com"/>
        <property name="port" value="587"/>
        <property name="username" value="675500969@qq.com"/>
        <property name="password" value="fqovhgshcvjybdci"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
    </bean>
    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="675500969@qq.com" />
        <property name="subject" value="You have mail from [xiatianlong.com]" />
    </bean>


</beans>